PORT=4000
NODE_ENV=development
API_PREFIX=api/v1

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sports_booking?schema=public"

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
